<section class="instagram-gallery">
  <header>
    <h3 class="instagram-gallery--title">#{{ instagram_hashtag }}</h3>
  </header>
  <div class="instagram-gallery--wrapper" id="instafeed--{{ instagram_hashtag }}"></div>
</section>