<div class="instagram-hashtag--container">
  <div class="instagram-hashtag--title">#{{ instagram_hashtag }}</div>
  <div class="instagram-hashtag--content" id="instafeed--{{ instagram_hashtag }}"></div>
</div>